<!DOCTYPE html>
<html>
	<!-- 单个商品详情 -->
	<head>
		<meta charset="utf-8">
		<title>买买网，想买就买</title>
		<!-- 标题栏图标设置 -->
		<link rel='icon' href='img/title_logo.ico' type='image/x-ico' />
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/main_css.css" />
		<link rel="stylesheet" type="text/css" href="css/goodsInfo_css.css" />
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function() {
				// window.history.forward(1);
				window.history.forward(-1);

				var u = localStorage.getItem("loginNickName");
				if (u != null) {
					$(function() {
						$("#aa").append("<a>退出登陆</a>");
						$("#loginName").empty();
						$("#loginName").text("欢迎您，" + u);
						$("#order").append("<a href='order.html'>我的订单</a>");
					});
				}
			});
		</script>
	</head>
	<body>
		<div id="shopping_market">
			<!-- 导航栏开始 -->
			<div class="top">
				<div class="nav">
					<ul>
						<li id="loginName"><a href="login-cloud.html">请登录</a></li>
						<li><a href="register.html">免费注册</a></li>
						<li id="aa" @click="exitLogin"></li>
						<li @click="shoppingCar()">购物车</li>
						<li id="order"></li>
					</ul>
				</div>
				<!-- 搜索栏开始 -->
				<div class="top_bottom">
					<div class="search">
						<div class="search_left">
							<a href="main_index.html"><img src="img/logo.png" alt="买买网" title="点我有惊喜"></a>
						</div>
						<div class="search_right">
							<input type="text" v-model="key" placeholder="请输入商品名" @keyup="confirmValid" /><button class="sousuo" @click="mohu()"
							 :disabled="isKey">搜索</button>
							<ul>
								<li>运动鞋</li>
								<li>手机</li>
								<li>牛奶</li>
								<li>仿真花</li>
								<li>连衣裙</li>
								<li>摄像头</li>
								<li>针织衫</li>
								<li>四件套</li>
								<li>客厅灯</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- 商品详情显示 -->
			<div class="middle">
				<div class="content">
					<!-- <template v-for="c in commentProductlist"> -->
					<div class="leftImg">
						<img width='250px' height="300px" :src=`http://localhost:8080/img/${product.productPicture}` alt="找不到图片">
					</div>
					<div class="rightInfo">
						<div class="title_or_info">
							<h2>{{product.productDescription}}</h2>
						</div>
						<div class="price">
							&nbsp;&nbsp;&nbsp;&nbsp;价格<span>￥{{product.productPrice}}</span>
						</div>
						<div class="goodsNum">
							&nbsp;&nbsp;&nbsp;&nbsp;数量&nbsp;&nbsp;&nbsp;&nbsp;
							<template>
								<el-input-number v-model="num" :min="1"></el-input-number>
							</template>
						</div>
						<div class="sure_btn">
							<el-row>
								<el-button type="danger" plain @click="order()">立即购买</el-button>
								<el-button type="danger" @click="addShopCart"><i class="el-icon-shopping-cart-full"> 加入购物车</i></el-button>

							</el-row>
						</div>
					</div>
					<!-- </template> -->

				</div>
			</div>
			<!-- 评论列表开始 -->
			<div class="comments">
				<div class="comments_body">
					<div class="leiji">累计评价</div>
					<ul>
						<li v-for="cp in commentProductlist">
							<p class="nick_name"><span style="color: #999;">用户昵称：</span>{{cp.userNickName}}</p>
							<p class="comment_info">{{cp.commentContent}}</p>
							<p class="comment_time">{{cp.commentTime}}</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 底部开始 -->
			<div class="bottom">
				<div class="bottom_content">
					<div class="find_me">
						<ul>
							<li><a href="">关于本网</a></li>
							<li><a href="">帮助中心</a></li>
							<li><a href="">开放平台</a></li>
							<li><a href="">诚聘英才</a></li>
							<li><a href="">联系我们</a></li>
							<li><a href="">网站合作</a></li>
							<li><a href="">法律声明</a></li>
							<li><a href="">隐私保护</a></li>
							<li><a href="">举报入口</a></li>
						</ul>
					</div>
					<div class="loyer">
						Copyright &copy; 2019 - 9012 买买 maimai.com 版权所有
					</div>
				</div>
			</div>
			<!-- 返回顶部效果 -->
			<template>
				<el-backtop :bottom="100">
					<div style="{
			        height: 100%;
			        width: 100%;
			        background-color: #CE0000;
			        box-shadow: 0 0 6px rgba(0,0,0, .12);
			        text-align: center;
			        line-height: 40px;
			        color: white;
			      }">
						UP
					</div>
				</el-backtop>
			</template>
		</div>
		<!-- 引入组件库 -->
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript">
			// 获取商品列表页传过来的分类id
			var url = location.href;
			var productId = url.substr(url.indexOf("=") + 1);
			new Vue({
				el: "#shopping_market",
				data: {
					num: 1,
					key: "",
					productId: 0,
					isKey: true,
					commentProductlist: null,
					product: null
				},
				methods: {
					// num(i) {
					// 	var n = i.toFixed(1);
					// 	alert(n);
					// }
					mohu() {
						var _t = encodeURI(encodeURI(this.key));
						location.href = "goods_show.html?key=" + _t;
					},
					order() {
						if (localStorage.getItem("loginNickName") == null) {
							alert("系统监测您还未登陆，为您跳转...");
							location.href = "login-cloud.html";
						} else {
							axios.get('http://localhost:8080/EShoppingMallBackstage/orders/addOrders.action', {
								params: {
									userId: localStorage.getItem("loginId"),
									orderQuantity: this.num,
									productId: productId
								},
							}).then(response => {
								if (response.data == 1) {
									alert("下单成功，如需查看，请到-我的订单-");
								}
							})
						}

					},
					//添加到购物车
					addShopCart(){
						if (localStorage.getItem("loginNickName") == null) {
							alert("系统监测您还未登陆，为您跳转...");
							location.href = "login-cloud.html";
						} else {
							axios.get('http://localhost:8080/EShoppingMallBackstage/insertCart.action', {
								params: {
									productId: productId,
									userId: localStorage.getItem("loginId"),
									orderQuantity: this.num,
									productPrice:this.product.productPrice
								},
							}).then(response => {
								if (response.data == 1) {
									alert("添加成功，如需查看，请到-购物车-");
								}
							})
						}
					},
					//退出登陆
					exitLogin() {
						localStorage.removeItem("loginNickName");
						localStorage.removeItem("loginId");
						location.href = "main_index.html";
					},
					//购物车访问
					shoppingCar() {
						if (localStorage.getItem("loginNickName") == null) {
							location.href = "login-cloud.html";
						} else {
							location.href = "shoppingCart.html";
						}
					},
					// 搜索栏验证用户是否输入内容
					confirmValid() {
						if (this.key != "") {
							this.isKey = false;
						}
					}
				},
				mounted() {
					axios.get('http://localhost:8080/EShoppingMallBackstage/comment/showAllCommentByProId.action', {
						params: {
							productId: productId
						},
					}).then(response => {
						this.commentProductlist = response.data;
						// console.log(response.data);
						// if (this.commentProductlist.length == 0) {

						// alert("kong");
						// }
					})
					axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/queryProductById.action', {
						params: {
							productId: productId
						},
					}).then(response => {
						this.product = response.data;
					})
				}
			});
		</script>
	</body>
</html>
