<!DOCTYPE html>
<html>
	<!-- 用户首页 -->
	<head>
		<meta charset="utf-8">
		<title>买买网，想买就买</title>
		<!-- 标题栏图标设置 -->
		<link rel='icon' href='img/title_logo.ico' type='image/x-ico' />
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/main_css.css" />
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<style>
			.el-carousel__item h3 {
		    color: #475669;
		    font-size: 14px;
		    opacity: 0.75;
		    line-height: 300px;
		    margin: 0;
		  }
		
		  .el-carousel__item:nth-child(2n) {
		     background-color: #99a9bf;
		  }
		  
		  .el-carousel__item:nth-child(2n+1) {
		     background-color: #d3dce6;
		  }
		</style>
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function() {
				// window.history.forward(1);
				window.history.forward(-1);
			});
			var u = localStorage.getItem("loginNickName");
			if (u != null) {
				$(function() {
					$("#aa").append("<a>退出登陆</a>");
					$("#loginName").empty();
					$("#loginName").text("欢迎您，" + u);
					$("#order").append("<a href='order.html'>我的订单</a>");
				});
				// location.href="login-cloud.html";
			}
		</script>
	</head>
	<body>
		<div id="shopping_market">
			<!-- 导航栏开始 -->
			<div class="top">
				<div class="nav">
					<ul>
						<!-- <li>欢迎您，</li> -->
						<li id="loginName"><a href="login-cloud.html">请登录</a></li>
						<li><a href="register.html">免费注册</a></li>
						<li id="aa" @click="exitLogin"></li>
						<li @click="shoppingCar()">购物车</li>
						<li id="order"></li>
					</ul>
				</div>
				<!-- 搜索栏开始 -->
				<div class="top_bottom">
					<div class="search">
						<div class="search_left">
							<a href="main_index.html"><img src="img/logo.png" alt="买买网" title="点我有惊喜"></a>
						</div>
						<div class="search_right">
							<input type="text" v-model="key" placeholder="请输入商品名" @keyup="confirmValid()" /><button class="sousuo" @click="mohu()"
							 :disabled="isKey">搜索</button>
							<ul>
								<li>运动鞋</li>
								<li>手机</li>
								<li>牛奶</li>
								<li>仿真花</li>
								<li>连衣裙</li>
								<li>摄像头</li>
								<li>针织衫</li>
								<li>四件套</li>
								<li>客厅灯</li>
							</ul>
						</div>
						<div class="bottom_nav">
							<div class="bottom_nav_left">
								<p>商品服务分类</p>
							</div>
							<div class="bottom_nav_right">
								<ul>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
									<li class="space"></li>
									<li>智能生活</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="middle">
				<div class="content">
					<div class="middle_left">
						<ul>
							<li>
								<div id="we"></div>
							</li>
						</ul>
					</div>
					<div class="middle_lunbo">
						<template>
							<el-carousel trigger="click" height="300px" interval="2000">
								<el-carousel-item v-for="(img,index) in imgList" :key="index">
									<img v-bind:src="img.url">
								</el-carousel-item>
							</el-carousel>
						</template>
					</div>
				</div>
			</div>
			<!-- 底部开始 -->
			<div class="bottom">
				<div class="bottom_content">
					<div class="find_me">
						<ul>
							<li><a href="javascript:;">关于本网</a></li>
							<li><a href="javascript:;">帮助中心</a></li>
							<li><a href="javascript:;">开放平台</a></li>
							<li><a href="javascript:;">诚聘英才</a></li>
							<li><a href="javascript:;">联系我们</a></li>
							<li><a href="javascript:;">网站合作</a></li>
							<li><a href="javascript:;">法律声明</a></li>
							<li><a href="javascript:;">隐私保护</a></li>
							<li><a href="javascript:;">举报入口</a></li>
						</ul>
					</div>
					<div class="loyer">
						Copyright &copy; 2019 - 9012 买买 maimai.com 版权所有
					</div>
				</div>
			</div>
			<!-- 返回顶部效果 -->
			<template>
				<el-backtop :bottom="100">
					<div style="{
			        height: 100%;
			        width: 100%;
			        background-color: #CE0000;
			        box-shadow: 0 0 6px rgba(0,0,0, .12);
			        text-align: center;
			        line-height: 40px;
			        color: white;
			      }">
						UP
					</div>
				</el-backtop>
			</template>
		</div>
		<!-- 引入组件库 -->
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript">
			new Vue({
				el: "#shopping_market",
				data() {
					return {
						key: "",
						imgList: null,
						data: null,
						isKey: true,
						imgList: [{
								url: 'img/ad01.jpg'
							},
							{
								url: 'img/ad02.jpg'
							},
							{
								url: 'img/ad03.jpg'
							},
							{
								url: 'img/ad04.jpg'
							}
						]
					};
				},
				methods: {
					mohu() {
						var _t = encodeURI(encodeURI(this.key));
						location.href = "goods_show.html?key=" + _t;
					},
					//退出登陆
					exitLogin() {
						localStorage.removeItem("loginNickName");
						localStorage.removeItem("loginId");
						location.href = "main_index.html";
					},
					//购物车访问
					shoppingCar() {
						if (localStorage.getItem("loginNickName") == null) {
							location.href = "login-cloud.html";
						} else {
							location.href = "shoppingCart.html";
						}
					},
					// 搜索栏验证用户是否输入内容
					confirmValid() {
						if (this.key != "") {
							this.isKey = false;
						}
					}
				},
				mounted() {
					axios.get('http://localhost:8080/EShoppingMallBackstage/category/menu.action', {}).then(response => {
						var s = ""; //存放循环输出的div串
						$.each(response.data, function(index, o) {
							s += "<div class='menu_left'>" + o.label + "</div>";
							s += "<div class='menu_right'>";
							$.each(o.children, function(index, q) {
								s += "<span class='second_menu'><a href='goods_show.html?categoryId=" + q.cid + "'>" + q.label +
									"</a></span>";
							});
							s += "</div>";
						});
						$("#we").append(s);
					})
				}
			});
		</script>
	</body>
</html>
