<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>买买网后台管理</title>
		<!-- 标题栏图标设置 -->
		<link rel='icon' href='img/title_logo.ico' type='image/x-ico' />
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/gl.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="top">
				<div id="logo"></div>
				<div id="menu">
					<div id="menu_add">
						<img src="" width="14"> 北京
					</div>
					<div id="menu_hello">
						你好，请登录
					</div>
					<ul>
						<li class="font_red">免费注册</li>
						<li class="menu_li"></li>
						<li>我的订单</li>
						<li class="menu_li"></li>
						<li>我的买买</li>
						<li class="menu_li"></li>
						<li>买买会员</li>
						<li class="menu_li"></li>
						<li>企业采购</li>
						<li class="menu_li"></li>
						<li>客户服务 <i class="ci-right"></i></li>
						<li class="menu_li"></li>
						<li>网站导航 <i class="ci-right"></i></li>
						<li class="menu_li"></li>
						<li>手机买买</li>
					</ul>
				</div>
				<div id="search">
					<div id="search_logo">
						<img src="img/logo.png" width="190px">
						<div id="search_top"><input><button>搜索</button>
						</div>

					</div>
				</div>
			</div>
			<div id="body1">
				<div id="body1_guan"><span>
						<p>管理员:</p>
					</span></div>
				<template>
					<el-radio-group v-model="tabPosition" style="margin-bottom: 40px;">

					</el-radio-group>

					<el-tabs :tab-position="tabPosition" style="height: 900px;">
						<el-tab-pane label="商品管理">
							<div id="shopdiv" class="order">
								<div class="ordertopone"><span class="ordermagzi"><i class="el-icon-circle-plus-outline"></i>商品管理&nbsp;<span>
											<el-button size="mini" @click="s1()">刷新
											</el-button>
											<el-button size="mini" @click="Edit1(scope.$index, scope.row)">添加</el-button>
								</div>
								<div id="hide" style="display: block;">
									<!-- <div style="margin: 20px;" ></div> -->
									<!-- 	<el-form :label-position="tableData4" label-width="100px" :model="tableData2" >
										<el-form-item label="ID" v-show=false>
											<el-input v-model="tableData4.productId"></el-input>
										</el-form-item>
										
										<el-form-item label="商品名称">
											<el-input v-model="tableData4.productName"></el-input>
										</el-form-item>
										<el-form-item label="商品信息">
											<el-input v-model="tableData4.productDescription"></el-input>
										</el-form-item>
										<el-form-item label="大類" >
											<el-input v-model="tableData4.categoryParentId"></el-input>
										</el-form-item>
										<el-form-item label="小類" >
											<el-input v-model="tableData4.categoryId"></el-input>
										</el-form-item>
										<el-form-item label="商品价格(元)">
											<el-input v-model="tableData4.productPrice"></el-input>
										</el-form-item>
										<el-form-item label="商品数量">
											<el-input v-model="tableData4.productStock"></el-input>
										</el-form-item>
										<form enctype="multipart/form-data">
										<input type="file" name="productPicture" v-model="productPicture" />
										</form>
								
										<el-form-item>
											<el-button type="primary" @click="commit"></el-button>
											<el-button>重置</el-button>
										</el-form-item>
									</el-form> -->

									<form enctype="multipart/form-data">
										<input type="text" v-model="tableData4.productName" />
										<input type="text" v-model="tableData4.productDescription" />
										<input type="text" v-model="tableData4.categoryParentId" />
										<input type="text" v-model="tableData4.categoryId" />
										<input type="text" v-model="tableData4.productPrice" />
										<input type="text" v-model="tableData4.productStock" />
										<input type="text" v-model="tableData4.productPicture" />
										<!-- 	<input type="file" name="productPicture" v-model="productPicture" /> -->
										<input type="submit" @click="commit" />提交
									</form>
								</div>

								<div class="ordertopthree">
									<template>
										<el-table :data="tableData2" stripe style="width: 100%;text-align: center; text-line-through: 20px;">

											<el-table-column prop="productId" label="ID" width="70">
												<template slot-scope="scope">
													<span>{{scope.row.productId}}</span>
												</template>
											</el-table-column>
											<!-- <span>{{ scope.row.title }}</span>
									    //--- scope.row 直接取到该单元格对象，即是tableData[scope.$index]
									    //---.title 是对象里面的title属性的值 -->


											<el-table-column prop="productName" label="商品名称" width="140">
												<template slot-scope="scope">
													<span>{{scope.row.productName}}</span>
												</template>
											</el-table-column>
											</el-table-column>
											<el-table-column prop="productDescription" label="商品信息" width="190">
												<template slot-scope="scope">
													<span>{{scope.row.productDescription}}</span>
												</template>
											</el-table-column>
											<el-table-column prop="productPrice" label="商品价格(元)" width="110">
												<template slot-scope="scope">
													<span>{{scope.row.productPrice}}</span>
												</template>
											</el-table-column>
											<el-table-column prop="productStock" label="商品数量" width="100">
												<template slot-scope="scope">
													<span>{{scope.row.productStock}}</span>
												</template>
											</el-table-column>
											<el-table-column prop="productStock" label="商品照片" width="100">
												<template slot-scope="scope">
													<span><img width="50px" :src=`http://localhost:8080/img/${scope.row.productPicture}` alt="图片未找到" /> </span>
												</template>
											</el-table-column>
											<el-table-column label="操作">
												<template slot-scope="scope">
													<!-- //取到单元格 -->
													<el-button size="mini" @click="Edit1(scope.$index, scope.row)">编辑</el-button>
													
													<el-button size="mini" type="danger" @click="Delete1(scope.$index, scope.row)">删除</el-button>

												</template>
											</el-table-column>
										</el-table>
									</template>
								</div>
							</div>

			</div>
			</el-tab-pane>
			<el-tab-pane label="分类管理" style="width: 100%">
				<div id="typediv" class="order">
					<div class="ordertopone"><span class="ordermagzi"><i class="el-icon-circle-plus-outline"></i>分类管理&nbsp;<span>
								<el-button size="mini" @click="s2()">刷新
								</el-button>
					</div>
					<div class="ordertopthree">
						<template>
							<el-table :data="tableData3" stripe style="width: 100%;height: 100%;">
								<el-table-column prop="categoryId" label="ID" width="180">
								</el-table-column>
								<el-table-column prop="categoryName" label="大类" width="180">
								</el-table-column>
								<el-table-column prop="Name" label="小类" width="180">
								</el-table-column>


								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button size="mini" @click="Edit(scope.$index, scope.row)">编辑</el-button>
										<el-button size="mini" type="danger" @click="Delete(scope.$index, scope.row)">删除</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>
				</div>
			</el-tab-pane>
			<el-tab-pane label="订单管理">
				<div class="order">
					<div class="ordertopone"><span class="ordermagzi"><i class="el-icon-circle-plus-outline"></i>订单管理&nbsp;<span>
								<el-button size="mini" @click="s3()">刷新
								</el-button>
					</div>
					<div id="ordertoptwo">
						<form id="topform">
							订单号：<input id="biaodan1" type="text">
							订货人：<input id="biaodan2" type="text">
							<input id="tijiao" type="submit" value="查 询">
						</form>
					</div>
					<div id="userdiv" class="ordertopthree">
						<template>
							<el-table :data="tableData" stripe style="width: 100%">
								<el-table-column prop="orderId" label="订单号" width="70">
									<template slot-scope="scope3">
										<span>{{scope3.row.orderId}}</span>
									</template>
								</el-table-column>
								<el-table-column prop="orderCreateTime" label="日期" width="100">
									<template slot-scope="scope3">
										<span>{{scope3.row.orderCreateTime}}</span>
									</template>
								</el-table-column>

								<el-table-column prop="userNickname" label="姓名" width="70">
									<template slot-scope="scope3">
										<span>{{scope3.row.userNickname}}</span>
									</template>
								</el-table-column>

								<el-table-column prop="productName" label="商品信息" width="140">
									<template slot-scope="scope3">
										<span>{{scope3.row.productName}}</span>
									</template>
								</el-table-column>
								<el-table-column prop="orderCost" label="订单价格(元)" width="110">
									<template slot-scope="scope3">
										<span>{{scope3.row.orderCost}}</span>
									</template>
								</el-table-column>

								<el-table-column prop="userAddress" label="地址" width="110">
									<template slot-scope="scope3">
										<span>{{scope3.row.userAddress}}</span>
									</template>
								</el-table-column>

								<el-table-column prop="userMobile" label="手机号" width="115">
									<template slot-scope="scope3">
										<span>{{scope3.row.userMobile}}</span>
									</template>
								</el-table-column>

								<el-table-column label="操作">
									<template slot-scope="scope3">
										<!-- //取到单元格 -->

										<el-button size="mini" @click="Edit(scope3.$index, scope3.row)">编辑</el-button>
										<el-button size="mini" type="danger" @click="Delete3(scope3.$index, scope3.row)">删除</el-button>

									</template>
								</el-table-column>

							</el-table>
						</template>
					</div>
				</div>

			</el-tab-pane>

			</el-tabs>
			</template>
			<!-- 底部开始 -->
			<div class="bottom">
				<div class="bottom_content">
					<div class="find_me">
						<ul>
							<li><a href="javascript:;">关于本网</a></li>
							<li><a href="javascript:;">帮助中心</a></li>
							<li><a href="javascript:;">开放平台</a></li>
							<li><a href="javascript:;">诚聘英才</a></li>
							<li><a href="javascript:;">联系我们</a></li>
							<li><a href="javascript:;">网站合作</a></li>
							<li><a href="javascript:;">法律声明</a></li>
							<li><a href="javascript:;">隐私保护</a></li>
							<li><a href="javascript:;">举报入口</a></li>
						</ul>
					</div>
					<div class="loyer">
						Copyright &copy; 2019 - 9012 买买 maimai.com 版权所有
					</div>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el: '#app',

				data: {
					productPicture: null,
					labelPosition: 'right',

					tabPosition: 'left',
					tableData: [

					],
					tableData2: [

					],
					tableData3: [

					],
					tableData4: [

					]
				},
				methods: {
					// Gai1(){
					// 	axios.get('http://localhost:8080/springmvc03/productInfo/addProduct.action', {
					// 		params: {

					// 			productPicture: productPicture,
					// 			productId: this.tableData4.productId,
					// 			categoryParentId: this.tableData4.categoryParentId,
					// 			categoryId: this.tableData4.categoryId,
					// 			productStock: this.tableData4.productStock,
					// 			productPrice: this.tableData4.productPrice,
					// 			productDescription: this.tableData4.productDescription,
					// 			productName: this.tableData4.productName,
					// 		}
					// 	}).then(response => {

					// 		this.tableData4 = response.data;

					// 		// this.rendering()//---删除了重新渲染
					// 		// alert(this.tableData);
					// 	})
					// },
					commit() {
						if (this.tableData4.productId != null) {
							axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/updateProduct.action', {
								params: {
									productPicture: this.tableData4.productPicture,
									productId: this.tableData4.productId,
									categoryParentId: this.tableData4.categoryParentId,
									categoryId: this.tableData4.categoryId,
									productStock: this.tableData4.productStock,
									productPrice: this.tableData4.productPrice,
									productDescription: this.tableData4.productDescription,
									productName: this.tableData4.productName

								}
							}).then(response => {

								alert("修改成功")
							})
						} else {
							axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/addProduct.action', {
								params: {
									productPicture: this.productPicture,
									productId: this.tableData4.productId,
									categoryParentId: this.tableData4.categoryParentId,
									categoryId: this.tableData4.categoryId,
									productStock: this.tableData4.productStock,
									productPrice: this.tableData4.productPrice,
									productDescription: this.tableData4.productDescription,
									productName: this.tableData4.productName
								}
							}).then(response => {
								alert("添加成功");
							})
						}

					},

					Edit1(index, row) {

						axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/queryProductById.action', {
							params: {
								productId: row.productId,
							}
						}).then(response => {

							this.tableData4 = response.data;

							// this.rendering()//---删除了重新渲染
							// alert(this.tableData);
						})


					},
					// @click.native.prevent="deleteRow(scope.$index, tableData)
					Delete1(index, row) {
						this.tableData2.splice(index, 1); //---前端删除index要+1 !!!!!!!
						axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/deleteProduct.action', {
							params: {
								productId: row.productId,
							}
						}).then(response => {

							// this.tableData2 = response.data;
							this.s1();
							// this.rendering()//---删除了重新渲染
							// alert(this.tableData);
						})
					},
					Delete3(index, row) {
						this.tableData.splice(index, 1); //---前端删除index要+1 !!!!!!!
						axios.get('http://localhost:8080/EShoppingMallBackstage/orders/deleteOrders.action', {
							params: {
								orderId: row.orderId,
								userId: 1

							}
						}).then(response => {

							// this.tableData = response.data;
							this.s3();
							// this.rendering()//---删除了重新渲染
							// alert(this.tableData);
						})
					},
					// myconfirm () {
					// 		if(confirm('确定要删除吗')==true){
					// 			axios.get('http://localhost:8080/springmvc03/orders/deleteOrders.action', {
					// 				params: {
					// 					// userid: 1,
					// 					// orderid:1

					// 				}
					// 			}).then(response => {

					// 				alert(000)
					// 				// alert(this.tableData2);
					// 			})
					// 		}
					// 	},
					s1() {
						axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/queryAllProduct.action', {
							params: {
								// userid: 1,
							}
						}).then(response => {

							this.tableData2 = response.data;
							// alert(this.tableData);
						})
					},
					s2() {
						axios.get('http://localhost:8080/EShoppingMallBackstage/category/queryAllCategory.action', {
							params: {
								// userid: 1,
							}
						}).then(response => {

							this.tableData3 = response.data;
							// alert(this.tableData);
						})
					},
					s3() {
						axios.get('http://localhost:8080/EShoppingMallBackstage/orders/queryAllOrders.action', {
							params: {
								// userid: 1,
							}
						}).then(response => {
							this.tableData = response.data;
							// alert(this.tableData);
						})
					}

					// ss() {
					//      axios.get('http://localhost:8080/springmvc03/productInfo/queryAllProduct.action', {
					//      	params: {
					//      		// userid: 1,
					//      	}
					//      }).then(response => {

					//      	this.tableData2 = response.data;
					//      	// alert(this.tableData2);
					//      })
					//    }
				},

				created() {
					axios.get('http://localhost:8080/EShoppingMallBackstage/productInfo/queryAllProduct.action', {
							params: {
								// userid: 1,
							}
						}).then(response => {

							this.tableData2 = response.data;
							// alert(this.tableData2);
						}),
						axios.get('http://localhost:8080/EShoppingMallBackstage/orders/queryAllOrders.action', {
							params: {
								// userid: 1,
							}
						}).then(response => {

							this.tableData = response.data;
							// alert(this.tableData);
						}),
						axios.get('http://localhost:8080/EShoppingMallBackstage/category/queryAllCategory.action', {
							params: {
								// userid: 1,
							}
						}).then(response => {

							this.tableData3 = response.data;
							// alert(this.tableData);
						})

				}

			})
		</script>
	</body>
</html>
